.nav-link{text-decoration: none; 
            color: black;}

#centro{
    width: 100%;
}

#logo{  background-color:rgb(104, 102, 96);}

.parrafos{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.footer{background-color: rgb(104, 102, 96);}






















